@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;

  --color-appricon-500: #fe2c2c;
  --color-cherry-500: #ff0054;
  --color-white-200: #f1f1f1
}

::-webkit-scrollbar {
  display: none;
}

:root {
  @apply font-montserrat;
  color-scheme: light dark;
  color: white;
  background-color: #0b0b0b;
}



@keyframes load {
  from {
    transform: translateX(-20px)
  }

  to {

    transform: translateX(0)
  }

}

.menubtn li {
  @apply border-2 py-1 px-3 rounded-xl border-[#0b0b0b] bg-gray-900/40 backdrop-blur-2xl;
}

.container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: center;
}
